# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug
Release
TestResults
*.opensdf
*.psess
*.sdf
*.suo
*.filters
*.vsp
ipch
